<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <div class="row">
    <div class="span7">
      <h2>Align. Focus. Excel.</h2>
      <p>Align employee goals with corporate strategy. With OnTarget it is simple and quick to drive employee efficiency, encourage ownership and focus on excellence.</p>
      <p><%= link_to 'Get started today with a 45-days free trial', new_account_path(:user_limit => 2), :class => 'btn btn-primary btn-large' %></p>
    </div>
    <div class="span4">
      <ul class="thumbnails">
        <li>
          <a href="#" class="thumbnail">
            <img src="/assets/target.jpg" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
