<div class="row">
  <div class="span12">
		<div class="widget">
	    <div class="widget-header">
		    <i class="icon-th-large"></i>
		    <h3>Choose Your Plan</h3>
	    </div> <!-- /widget-header -->
	
	    <div class="widget-content">
		    <div class="pricing-plans plans-4">
		      <div class="plan-container">
	          <div class="plan">
		          <div class="plan-header">
	              <div class="plan-title">
		              Micro     		
	            	</div> <!-- /plan-title -->
	                    
		            <div class="plan-price">
	                <span class="note">$</span>49<span class="term">Per Year</span>
					      </div> <!-- /plan-price -->
				      </div> <!-- /plan-header -->	        
		            
		          <div class="plan-features">
					      <ul>
						      <li>Up to <strong>10</strong> user</li>
						      <li><strong>Unlimited</strong> reviews per user</li>
						      <li><strong>Unlimited</strong> goals per user</li>
						      <li>45-days <strong>Free Trial</strong></li>
					      </ul>
				      </div> <!-- /plan-features -->
				
				      <div class="plan-actions">
				        <%= link_to 'Purchase Now', new_account_path(:user_limit => 10), :class => 'btn btn-primary' %>			
				      </div> <!-- /plan-actions -->
	          </div> <!-- /plan -->
	        </div> <!-- /plan-container -->
	        
	        <div class="plan-container">
	          <div class="plan">
		          <div class="plan-header">
	              <div class="plan-title">
		              Starter       		
	            	</div> <!-- /plan-title -->
	                    
		            <div class="plan-price">
	                <span class="note">$</span>249<span class="term">Per Year</span>
					      </div> <!-- /plan-price -->
				      </div> <!-- /plan-header -->	        
		            
		          <div class="plan-features">
					      <ul>
						      <li>Up to <strong>50</strong> user</li>
						      <li><strong>Unlimited</strong> reviews per user</li>
						      <li><strong>Unlimited</strong> goals per user</li>
						      <li>45-days <strong>Free Trial</strong></li>
					      </ul>
				      </div> <!-- /plan-features -->
				
				      <div class="plan-actions">				
					      <%= link_to 'Purchase Now', new_account_path(:user_limit => 50), :class => 'btn btn-primary' %>				
				      </div> <!-- /plan-actions -->
	          </div> <!-- /plan -->
	        </div> <!-- /plan-container -->
	        
	        <div class="plan-container">
	          <div class="plan orange">
		          <div class="plan-header">
	              <div class="plan-title">
		              Business  		
	            	</div> <!-- /plan-title -->
	                    
		            <div class="plan-price">
	                <span class="note">$</span>499<span class="term">Per Year</span>
					      </div> <!-- /plan-price -->
				      </div> <!-- /plan-header -->	        
		            
		          <div class="plan-features">
					      <ul>
						      <li>Up to <strong>100</strong> user</li>
						      <li><strong>Unlimited</strong> reviews per user</li>
						      <li><strong>Unlimited</strong> goals per user</li>
						      <li>45-days <strong>Free Trial</strong></li>
					      </ul>
				      </div> <!-- /plan-features -->
				
				      <div class="plan-actions">				
					      <%= link_to 'Purchase Now', new_account_path(:user_limit => 100), :class => 'btn btn-primary' %>				
				      </div> <!-- /plan-actions -->
	          </div> <!-- /plan -->
	        </div> <!-- /plan-container -->
	        
	        <div class="plan-container">
	          <div class="plan">
		          <div class="plan-header">
	              <div class="plan-title">
		              Enterprise		
	            	</div> <!-- /plan-title -->
	                    
		            <div class="plan-price">
	                <span class="note">$</span>999<span class="term">Per Year</span>
					      </div> <!-- /plan-price -->
				      </div> <!-- /plan-header -->	        
		            
		          <div class="plan-features">
					      <ul>
						      <li>Up to <strong>250</strong> user</li>
						      <li><strong>Unlimited</strong> reviews per user</li>
						      <li><strong>Unlimited</strong> goals per user</li>
						      <li>45-days <strong>Free Trial</strong></li>
					      </ul>
				      </div> <!-- /plan-features -->
				
				      <div class="plan-actions">				
					      <%= link_to 'Purchase Now', new_account_path(:user_limit => 250), :class => 'btn btn-primary' %>			
				      </div> <!-- /plan-actions -->
	          </div> <!-- /plan -->
	        </div> <!-- /plan-container -->
	        
	      </div> <!-- /pricing-plans -->
	    </div> <!-- /widget-content -->
		</div> <!-- /widget -->					
  </div> <!-- /span12 -->     	
</div> <!-- /row -->
