<div class="widget widget-nopad">
  <div class="widget-content">
    <ul class="news-items">
      <li>
		    <div class="news-item-detail">										
			    <a></a>
			    <p class="wizard-item-preview">A period has not been created.</p>
		    </div>
	    </li>
    </ul>
  </div> <!-- /widget-content -->
</div> <!-- /widget -->	
