<div class="widget">
  <div class="widget-header">
	  <i class="icon-bookmark"></i>
	  <h3>Quick Shortcuts</h3>
  </div> <!-- /widget-header -->

  <div class="widget-content">
	  <div class="shortcuts">
		
		  <a href="http://localhost:3000/users" class="shortcut">
			  <i class="shortcut-icon icon-user"></i>
			  <span class="shortcut-label">Users</span>
		  </a>
		  
		  <a href="http://localhost:3000/periods" class="shortcut">
			  <i class="shortcut-icon icon-time"></i>
			  <span class="shortcut-label">Periods</span>
		  </a>
		
		  <a href="http://localhost:3000/reviews" class="shortcut">
			  <i class="shortcut-icon icon-file"></i>
			  <span class="shortcut-label">Reviews</span>								
		  </a>
	  </div> <!-- /shortcuts -->	
  </div> <!-- /widget-content -->
</div> <!-- /widget -->			
