<div class="row">
  <div class="page-header">
  <h2>Step 1</h2>
</div>

  <div class="span10">
	  <%= render 'dashboards/admin_wizard_widget1' %>
	</div>
  	
  <div class="span2"> 		
    <%= render 'dashboards/admin_wizard_widget2' %>
  </div> <!-- /span6 -->
</div> <!-- /row -->
