<div class="row">
	<%= render 'dashboards/admin_notification' %>
</div> <!-- /row -->

<div class="row">
	<%= render 'dashboards/admin_widget1' %>
</div> <!-- /row -->

<div class="row">
  <div class="span8">
	  <%= render 'dashboards/admin_widget2' %>
	</div>
  	
  <div class="span4"> 		
    <%= render 'dashboards/admin_widget3' %>
  </div> <!-- /span6 -->
</div> <!-- /row -->
