<!--<div class="row">-->
<!--  <div class="span8">-->
<!--    <p>Please create a review period.</p>-->
<!--    <%= link_to "Create Period", new_user_path, :class => 'btn btn-primary' %>-->
<!--  </div>-->
<!--</div>-->
