<div class="span4">
  <div class="widget">
	  <div class="widget-header">
		  <i class="icon-ok"></i>
		  <h3>Tips - S.M.A.R.T Goals</h3>
	  </div> <!-- /widget-header -->
	
	  <div class="widget-content">
		  <p>
		    <strong>S.M.A.R.T</strong> goals are a way to not only decide what to do, but how to do it in a way that can easily be tracked to determine whether or not progress is made and know when the goals are met. In this type of goal, the acronym in <strong>S.M.A.R.T</strong> stands for: <strong>Specific</strong>, <strong>Measurable</strong>, <strong>Attainable</strong>, <strong>Relevant</strong>, and <strong>Time-based</strong>.
		  </p>
		  <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              S - Specific
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>
                The first term stresses the need for a specific goal over and against a more general one. This means the goal is clear and unambiguous; without vagaries and platitudes. To make goals specific, they must tell a team exactly what is expected, why is it important, who’s involved, where is it going to happen and which attributes are important.
              </p>
              <p>
                A specific goal will usually answer the five "W" questions:
              </p>
              <ul>
                <li>What: What do I want to accomplish?</li>
                <li>Why: Specific reasons, purpose or benefits of accomplishing the goal.</li>
                <li>Who: Who is involved?</li>
                <li>Where: Identify a location.</li>
                <li>Which: Identify requirements and constraints.</li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              M - Measurable
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>
                The second term stresses the need for concrete criteria for measuring progress toward the attainment of the goal. The thought behind this is that if a goal is not measurable, it is not possible to know whether a team is making progress toward successful completion. Measuring progress is supposed to help a team stay on track, reach its target dates, and experience the exhilaration of achievement that spurs it on to continued effort required to reach the ultimate goal.
              </p>
              <p>
                A measurable goal will usually answer questions such as:
              </p>
              <ul>
                <li>How much?</li>
                <li>How many?</li>
                <li>How will I know when it is accomplished?</li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
              A - Achieveable
            </a>
          </div>
          <div id="collapseThree" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>
                The third term stresses the importance of goals that are realistic and attainable. While an attainable goal may stretch a team in order to achieve it, the goal is not extreme. That is, the goals are neither out of reach nor below standard performance, as these may be considered meaningless. When you identify goals that are most important to you, you begin to figure out ways you can make them come true. You develop the attitudes, abilities, skills, and financial capacity to reach them. The theory states that an attainable goal may cause goal-setters to identify previously overlooked opportunities to bring themselves closer to the achievement of their goals.
              </p>
              <p>
                An attainable goal will usually answer the question:
              </p>
              <ul>
                <li>How: How can the goal be accomplished?</li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
              R - Relevant
            </a>
          </div>
          <div id="collapseFour" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>
                The fourth term stresses the importance of choosing goals that matter. A Bank Manager's goal to "Make 50 peanut butter and jelly sandwiches by 2:00pm." may be Specific, Measurable, Attainable, and Time-Bound, but lacks Relevance. Many times you will need support to accomplish a goal: resources, a champion voice, someone to knock down obstacles. Goals that are relevant to your boss, your team, your organization will receive that needed support.
              </p>
              <p>
                Relevant goals (when met) drive the team, department, and organization forward. A goal that supports or is in alignment with other goals would be considered a relevant goal.
              </p>
              <p>
                A relevant goal can answer yes to these questions:
              </p>
              <ul>
                <li>Does this seem worthwhile?</li>
                <li>Is this the right time?</li>
                <li>Does this match our other efforts/needs?</li>
                <li>Are you the right person?</li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
              T - Time-bound
            </a>
          </div>
          <div id="collapseFive" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>
                The fifth term stresses the importance of grounding goals within a time frame, giving them a target date. A commitment to a deadline helps a team focus their efforts on completion of the goal on or before the due date. This part of the S.M.A.R.T. goal criteria is intended to prevent goals from being overtaken by the day-to-day crises that invariably arise in an organization. A time-bound goal is intended to establish a sense of urgency.
              </p>
              <p>
                A time-bound goal will usually answer the question:
              </p>
              <ul>
                <li>When?</li>
                <li>What can I do 6 months from now?</li>
                <li>What can I do 6 weeks from now?</li>
                <li>What can I do today?</li>
              </ul>
            </div>
          </div>
        </div>
		  
	  </div> <!-- /widget-content -->
  </div> <!-- /widget -->		
</div> <!-- /span4 -->
