<div class="span4">
  <div class="widget">
	  <div class="widget-header">
		  <i class="icon-bookmark"></i>
		  <h3>Quick Shortcuts</h3>
	  </div> <!-- /widget-header -->
	
	  <div class="widget-content">
		  <div class="shortcuts">
			  <a href="reviews#edit" class="shortcut">
				  <i class="shortcut-icon icon-list-alt"></i>
				  <span class="shortcut-label">My Reviews</span>
			  </a>
			
			  <a href="goals#edit" class="shortcut">
				  <i class="shortcut-icon icon-bookmark"></i>
				  <span class="shortcut-label">My Goals</span>								
			  </a>
			
			  <a href="users#edit" class="shortcut">
				  <i class="shortcut-icon icon-signal"></i>
				  <span class="shortcut-label">My Profile</span>	
			  </a>
		  </div> <!-- /shortcuts -->	
	  </div> <!-- /widget-content -->
  </div> <!-- /widget -->		
</div> <!-- /span4 -->
